html{
}
body{
  background: url(../img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
  img, embed, object, video{
    max-width: 100%;
  }
.row{

}
.card {
  overflow: hidden;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  color: rgba(255, 255, 255, 1.0);
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0em 0em 10em rgba(0, 0, 0, 1);
  padding: 3em;
  margin-top: 1em;
  border-radius: 5em;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.button:hover{
  min-width: 48px;
  min-height: 48px;
  box-shadow: 0em 0em 1em rgba(255, 255, 255, 0.8);
  transform: translate(1%, 1%);
}
.button:active{
  transform: translate(-1%, -1%);
}
